@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 50 14% 97%;
    --foreground: 40 4% 25%;

    --card: 47 23% 92%;
    --card-foreground: 40 4% 25%;

    --popover: 50 14% 97%;
    --popover-foreground: 40 4% 25%;

    --primary: 40 2% 39%;
    --primary-foreground: 50 14% 97%;

    --secondary: 30 9% 60%;
    --secondary-foreground: 50 14% 97%;

    --muted: 40 16% 80%;
    --muted-foreground: 40 4% 40%;

    --accent: 47 23% 92%;
    --accent-foreground: 40 2% 39%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 40 16% 80%;
    --input: 40 16% 85%;
    --ring: 40 2% 39%;

    --radius: 0.375rem;

    --sidebar-background: 47 23% 92%;
    --sidebar-foreground: 40 4% 25%;
    --sidebar-primary: 40 2% 39%;
    --sidebar-primary-foreground: 50 14% 97%;
    --sidebar-accent: 40 16% 80%;
    --sidebar-accent-foreground: 40 2% 39%;
    --sidebar-border: 40 16% 80%;
    --sidebar-ring: 40 2% 39%;
  }

  .dark {
    --background: 40 4% 10%;
    --foreground: 47 23% 92%;
    --card: 40 4% 14%;
    --card-foreground: 47 23% 92%;
    --popover: 40 4% 10%;
    --popover-foreground: 47 23% 92%;
    --primary: 47 23% 92%;
    --primary-foreground: 40 4% 10%;
    --secondary: 30 9% 30%;
    --secondary-foreground: 47 23% 92%;
    --muted: 40 4% 20%;
    --muted-foreground: 40 16% 70%;
    --accent: 40 4% 20%;
    --accent-foreground: 47 23% 92%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 40 4% 20%;
    --input: 40 4% 20%;
    --ring: 47 23% 70%;
    --sidebar-background: 40 4% 10%;
    --sidebar-foreground: 47 23% 92%;
    --sidebar-primary: 47 23% 92%;
    --sidebar-primary-foreground: 40 4% 10%;
    --sidebar-accent: 40 4% 20%;
    --sidebar-accent-foreground: 47 23% 92%;
    --sidebar-border: 40 4% 20%;
    --sidebar-ring: 40 2% 39%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-body antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading text-primary;
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .section-padding {
    @apply px-6 py-20 md:px-12 lg:px-24 lg:py-28;
  }

  .section-alt {
    @apply bg-accent;
  }

  .executive-card {
    @apply bg-accent rounded-md p-8 shadow-sm border border-border/50;
  }
}
